.beyond {
    background: url("../img/game-presentation-parallax-1.jpg") center/cover;
    height: 70vh;
    text-align: center;
    padding-top: 10%;

    p {
        color: white;
        font-size: 1.5rem;
        width: 35vw;
        margin: auto;
    }

    p, h2, img {
        margin-top: 50px;
    }

    h2 {
        color: white;
        font-size: 3rem;
    }
}